//
//  DevelopmentRelease.xcconfig
//  PinchAssignment
//
//  Created by Andrija Scepanovic on 9/28/21.
//

#include "PinchAssignment/SupportingFiles/Configurations/Development/DevelopmentShared.xcconfig"
#include "Pods/Target Support Files/Pods-PinchAssignment/Pods-PinchAssignment.developmentrelease.xcconfig"
